@import url('https://fonts.googleapis.com/css2?family=Anton&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root
{
    --darkBlue: #185F8F;
    --Blue: #3282B8;
    --ligthBlue: #87CFFF;
    --darkBlue-shadow: #185f8fc5;
}

*
{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--darkBlue);
    position: relative;   
}

body
{
    overflow-x: hidden;
}

button
{
    background: none;
    border: none;
}

header
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

a
{
    text-decoration: none;
}

a:hover
{
    color: var(--ligthBlue);
}

a:active
{
    color: var(--Blue);
}

.headerContainer
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    border-bottom: 1px solid var(--darkBlue);
}

.logo
{
    width: 23%;
}

.logoI
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.nav
{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.navBar
{
   visibility: hidden;
}

.android
{
    position: absolute;
    visibility: hidden;
}

.searchBar
{
    position: absolute;
    visibility: hidden;
}

.branco
{
    color: white;
}

.link-reserva-Min
{
    position: absolute;
    z-index: 3;
    margin-top: 35%;
    width: 100%;
    border-radius: 20px;
}

.button
{
    position: absolute;
    background-color: var(--ligthBlue);
    margin-left: 10%;
    height: 50px;
    box-shadow: 0px 5px 5px var(--darkBlue-shadow);
    border-radius: 50px;
}

.button h2
{
    font-size: medium;
    color: white;    
}

.button:active {
    transform: translateY(5px);
}

.container1
{
    display: flex;
    align-items: center;
}

.wave1
{
    position: absolute;
    width: 100%;
    z-index:1;
}

.section
{       
    margin-top: 110%;
}

footer
{
    margin-top: 140%;
    margin-bottom: 0%;
    width: 100%;
}

.footer
{
    display: flex;
    justify-content:space-between;
}

footer p
{
    font-size: clamp(1rem, 4vw, 2rem);
    margin-top: 2%;
    color: white;
}

footer h2
{
    font-size: clamp(1rem, 6vw, 2rem);
    color: white;
}

footer h4
{
    color: white;
}

.redes
{
    top: 67%;
    left: 55%;
    width: 50%;
    position: absolute;
    z-index: 3;
}

.redes_icon
{
    display: flex;
    flex-direction: row;
}

.Large_Logo
{
    width: 50%;
    border-right: 2px solid white;
    padding-right: 10px;
    z-index: 3;
}

.footer_img_P
{
    visibility: hidden;
    width: 100%;
    z-index: 1;
}

.footer_img_G
{
    width: 100%;
    z-index: 2;
}

.footer_logo
{
    display: flex;
    position: absolute;
    width: 95%;
    top: 33%;
    left: 2%;
    padding-bottom: 3%;
    gap: 20px;
    z-index: 3;
}

.link_redes1
{
    display: flex;
    align-items: center;
    position: absolute;
    gap: 2px;
    margin-top:5%;
    z-index: 3;
}

.link_redes2
{
    display: flex;
    align-items: center;
    position: absolute;
    gap: 2px;
    margin-top:5%;
    margin-left:20%;
    z-index: 3;
}

.link_redes3
{
    display: flex;
    align-items: center;
    position: absolute;
    gap: 2px;
    margin-top:5%;
    margin-left:40%;
    z-index: 3;
}

.datas
{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 67%;
    left: 2%;
    width: 50%;
    z-index: 3;
}

.datas h2
{
    margin-right: 1%;
}

.horas
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.datas dl dt
{
    font-size: clamp(1rem, 4vw, 2rem);
    color: white;
}

@media screen and ( max-width: 700px) 
{
    
    a
    {
        font-size: larger;
    }

    a:hover
    {
        color: var(--darkBlue);  
    }
    
    .nav
    {
        position: absolute;
        visibility: hidden;
    }
    
    .navIcon
    {
        position:initial;
    }

    .navBar
    {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: underline;
        visibility: visible;
        padding-bottom: 1em;
        border-radius: 0px 0px 10px 10px;
        box-shadow: 0px 2px 5px 0px var(--darkBlue-shadow);
    }

    .android
    {
        visibility: visible;
    }
    
    .headerContainer
    {
        gap: 32px;
    }

    .tittle
    {
        font-size: x-large;
    }   
    .link-reserva1
    {
        font-size: 125%;
    }
    .index1
    {
        position: absolute;
        z-index: 1;
        width: 100%;
    }

    .index2
    {
        position: absolute;
        z-index: 2;
        width: 90%;
        margin: 5%;
        top: 30px;
    }

    .titulos
    {
        position: absolute;
        font-size: clamp(1rem, 5vw, 2rem);
        z-index: 3;
        margin-top: 80%;
        margin-left: 2%;
    }

    .textos
    {
        position: absolute;
        font-size: clamp(1rem, 4vw, 2rem);
        z-index: 3;
        margin-top: 90%;
        margin-left: 5%;
        margin-right: 5%;
        text-align: justify;
    }

    .button
    {
        height: 75px;
        width: 80%;
    }

    .button h2
    {
        font-size: clamp(1em, 5vw, 2rem); 
        color: white;    
    }

    .containerIMGs
    {
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        gap: 10px;
    }

    .containerIMGs2
    {
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        gap: 150px;
    }
    
    .footer_img_P
    {
        visibility: visible;
        width: 100%;
    }

    .footer_img_G
    {
        position: absolute;
        visibility: hidden;
    }

    .redes_logo
    {
        width: 30px;
    }

    .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        z-index: 3;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .slide
      {
        width: 80%;
      }

      .container_sobre
      {
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
        border-bottom-width: 80%;
        margin-bottom: 10%;
      }

      .container_sobre h1
      {
        position: absolute;
        margin-top: 5%;
        margin-left: 15%;
        font-size: clamp(1rem, 8vw, 3rem);
        text-decoration:underline;
        z-index: 3;
      }

      .container_sobre p
      {
        position: absolute;
        text-align: justify;
        margin-top: 40%;
        margin-left: 10%;
        width: 80%;
        font-size: clamp(1rem, 5vw, 2rem);
        z-index: 3;
      }

      .border
      {
        margin-top: 10%;
        align-self: center;
        width: 80%;
        border-bottom: 2px solid var(--Blue);
        z-index: 4;
      }

      .back_sobre
      {
        width: 100%;
        z-index: 1;
      }

      .container_fotos
      {
        margin-top: 40%;
      }
}

@media screen and ( max-width: 540px) 
{
    .button
    {
        height: 50px;
    }
}