@import url('https://fonts.googleapis.com/css2?family=Anton&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Paleta de cores */
:root
{
    --darkBlue: #185F8F;
    --Blue: #3282B8;
    --ligthBlue: #87CFFF;
    --darkBlue-shadow: #185f8fc5;
}

/* configurações gerais */
*
{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--darkBlue);
    position: relative;   
}

input
{
    border: none;
}

h1
{
    font-size: clamp(1rem, 8vw, 3rem);
}

body
{
    
    overflow-x: hidden;
}

button
{
    background: none;
    border: none;
}

header
{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 0%;
    z-index: 100;
}

section
{
    display: flex;
    flex-direction: column;
}

a
{
    text-decoration: none;
}

a:hover
{
    color: var(--ligthBlue);
}

a:active
{
    color: var(--Blue);
}

footer
{
    margin-top: 10%;
    margin-bottom: 0%;
    width: 100%;
}

footer p
{
    font-size: clamp(1rem, 4vw, 2rem);
    margin-top: 2%;
    color: white;
}

footer h2
{
    font-size: clamp(1rem, 6vw, 2rem);
    color: white;
}

footer h4
{
    color: white;
}

/* header */
.headerContainer
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    border-bottom: 1px solid var(--darkBlue);
}

.logo
{
    width: 23%;
}

.logoI
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.nav
{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.nav a
{
    font-size: clamp(1rem, 2vw, 1.2rem);
}

.navBar
{
   visibility: hidden;
}

.navIcon
{
    transform: translateX(1000px);
}

.link-reserva-Min
{
    position: absolute;
    z-index: 3;
    margin-top: 35%;
    width: 100%;
    border-radius: 20px;
}
 
/* section mobile */
.button
{
    position: absolute;
    background-color: var(--ligthBlue);
    margin-left: 10%;
    height: 70px;
    width: 80%;
    box-shadow: 0px 2px 7px gray;
    border-radius: 50px;
}

.button h2
{
    font-size: clamp(1em, 5vw, 2rem);             
    color: white;
    text-shadow: 1px 1px 2px #000;
}

.button:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px ;
}

.wave1
{
    position: absolute;
    width: 100%;
    z-index:1;
}

.section
{       
    margin-top: 120%;
}

.container_section
{
    margin-top: 10%;
    margin-bottom: 140%;
}

/* footer */
.footer
{
    display: flex;
    justify-content:space-between;
}

.redes
{
    top: 67%;
    left: 55%;
    width: 50%;
    position: absolute;
    z-index: 3;
}

.redes_icon
{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.Large_Logo
{
    width: 50%;
    border-right: 2px solid white;
    padding-right: 10px;
    z-index: 3;
}

.footer_img_P
{
    visibility: hidden;
    width: 100%;
    z-index: 1;
}

.footer_img_G
{
    width: 100%;
    z-index: 2;
}

.footer_logo
{
    display: flex;
    position: absolute;
    width: 95%;
    top: 33%;
    left: 2%;
    padding-bottom: 3%;
    gap: 20px;
    z-index: 3;
}

.datas
{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 67%;
    left: 2%;
    width: 50%;
    z-index: 3;
}

.datas h2
{
    margin-right: 1%;
}

.horas
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.datas dl dt
{
    font-size: clamp(1rem, 4vw, 2rem);
    color: white;
}

.phone
{
    transform: translateX(5000px);
}

@media screen and ( max-width: 700px) 
{
    
    
    .phone
    {
        transform: translateX(0px);
    }

    a:hover
    {
        color: var(--darkBlue);  
    }
    
    .nav
    {
        position: absolute;
        visibility: hidden;
    }
    
    .navIcon
    {
        position:initial;
        transform: translateX(0px);
    }

    .navBar
    {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-decoration: underline;
        visibility: visible;
        background-color: white;
        gap: 5px;
        padding-top: 2%;
        padding-bottom: 1em;
        border-radius: 0px 0px 10px 10px;
        box-shadow: 0px 2px 5px 0px var(--darkBlue-shadow);
        z-index: 2;
    }

    .navBar a
    {
        font-size: clamp(1rem,6vw,2rem);
        margin-left: 5%;
    }

    .nav_icon
    {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 10px;
    }
    
    .nav_icon img
    {
        width: clamp(1rem,6vw,2rem);
    }

    .android
    {
        visibility: visible;
    }
    
    .headerContainer
    {
        gap: 32px;
    }

    .tittle
    {
        font-size: x-large;
    }   
    .link-reserva1
    {
        font-size: 125%;
    }
    .index1
    {
        position: absolute;
        z-index: 1;
        width: 100%;
    }

    .index2
    {
        position: absolute;
        z-index: 2;
        width: 90%;
        margin: 5%;
        top: 30px;
    }

    .titulos
    {
        position: absolute;
        font-size: clamp(1rem, 5vw, 2rem);
        z-index: 3;
        margin-top: 80%;
        margin-left: 2%;
    }

    .textos
    {
        position: absolute;
        font-size: clamp(1rem, 4vw, 2rem);
        z-index: 3;
        margin-top: 90%;
        margin-left: 5%;
        margin-right: 5%;
        text-align: justify;
    }

    .containerIMGs
    {
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        gap: 10px;
    }

    .containerIMGs2
    {
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        gap: 150px;
    }
    
    .footer_img_P
    {
        visibility: visible;
        width: 100%;
    }

    .footer_img_G
    {
        position: absolute;
        visibility: hidden;
    }

    .redes_logo
    {
        font-size: clamp(1rem, 5vw, 2rem);

    }

    .swiper 
    {
        width: 100%;
        height: 100%;
        margin-top: 20%;
    }

    .swiperMod
    {
        width: 100%;
        height: 100%;
        margin-top: 0%;
    }

    .swiper-slide 
    {
        text-align: center;
        font-size: 18px;
        background: #fff;
        z-index: 3;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .slide
    {
        width: 80%;
    }

    .container_big
    {
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
        margin-top: 20%;
        border-bottom-width: 80%;
        margin-bottom: 10%;
    }

    .sobre_font
    {
        position: absolute;
        margin-top: 5%;
        margin-left: 15%;
        text-decoration:underline;
        z-index: 3;
    }

    .container_big p
    {
        position: absolute;
        text-align: justify;
        margin-top: 40%;
        margin-left: 10%;
        width: 80%;
        font-size: clamp(1rem, 5vw, 2rem);
        z-index: 3;
    }

    .border
    {
        margin-top: 10%;
        align-self: center;
        width: 80%;
        border-bottom: 2px solid var(--Blue);
        z-index: 4;
    }

    .back_big
    {
        width: 100%;
        z-index: 1;
    }

    .back_img
    {
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    .container_fotos
    {
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }

    .container_fotos h1
    {
        align-self: center;
        text-decoration:underline;
        margin-bottom: 20%;
        z-index: 3;
    }

    .container_fotos .border
    {
        margin-top: 50%;
    }

    .wave_duvida
    {
        margin-top: 50%;
    }

    .container_contato
    {
        position: absolute;
        display: flexbox;
        margin-top: 45%;
        margin-left: 10%;
        gap: 10px;
        flex-direction: column;
        flex-wrap: wrap;
        width: 80%;
        z-index: 3;
    }

    .container_contato h2
    {
        font-size: clamp(20px, 5vw, 3rem);
    }

    .container_contato div
    {
        margin-bottom: 2%;
    }
    
    .contato_div
    {
        display: flex;
        flex-direction: column;
    }

    .container_contato div input
    {
        border-radius: 5px;
        height: clamp(20px, 7vw, 3rem);
        font-size: large;
        border: 1px solid gray;
    }

    .Div_50p
    {
        width: 50%;
    }

    .container_compress
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }

    .container_compress div input
    {
        width: 90%;
    }

    .container_compress div select
    {
        width: 90%;
        border-radius: 5px;
        height: clamp(20px, 30px, 3rem);
        font-size: large;
    }

    .submit
    {
        margin-left: 5%;
        width: 90%;
        height: clamp(10px, 40px, 3rem);
        font-size: clamp(10px, 30px, 2rem);
        border-radius: 5px;
        background-color: var(--darkBlue);
        color: white;
    }

    .cont_font
    {
        position: absolute;
        width: 50%;
        margin-top: 3%;
        margin-left: 8%;
        text-decoration:underline;
    }
    
    .container_info
    {
        display: flex;
        flex-direction: column;  
    }

    .info
    {
        position: absolute;
        width: 100%;  
        margin-top: 30%;
        z-index: 3;
    }

    .info div img
    {
        width: clamp(1rem, 8vw, 3rem);
    }

    .info_img
    {
        display: flex;
        flex-direction: row;
    }

    .info1
    {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 70%;
        margin-left: 27%; 
    }

    .info2
    {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 70%;
        margin-top: 10%;
        margin-left: 12%;
    }

    .container_info h1
    {
        margin-left: 5%;  
        margin-bottom: 2%;
        font-size: clamp(1rem, 8vw, 3rem);
        text-decoration: underline;
    }
    
    .container_info p
    {
        margin-left: 10%;
        margin-bottom: 2%;
        font-size: clamp(10px, 5vw, 2rem);
    }

    .container_info div h2
    {
        font-size: clamp(10px, 8vw, 2rem);
        text-decoration: underline;
        color: white;
    }

    .container_info div p
    {
        margin-left: 18%;
        font-size: clamp(10px, 5vw, 2rem);
        color: white;
    }

    .container_info div pre
    {
        font-size: clamp(10px, 5vw, 2rem);
        color: white;
    }
}