@import url('https://fonts.googleapis.com/css2?family=Anton&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root
{
    --darkBlue: #185F8F;
    --Blue: #3282B8;
    --ligthBlue: #87CFFF;
    --darkBlue-shadow: #185f8fc5;
}

*
{
    margin: 0%;
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--darkBlue);
    position: relative;
}

button
{
    background: none;
    border: none;
}

header
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}



a
{
    text-decoration: none;
}

a:hover
{
    color: var(--ligthBlue);
}

a:active
{
    color: var(--Blue);
}

.headerContainer
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    border-bottom: 1px solid var(--darkBlue);
}

.logo
{
    width: 50px;
}

.logoI
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.nav
{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.navBar
{
   visibility: hidden;
}

.android
{
    position: absolute;
    visibility: hidden;
}

.searchBar
{
    position: absolute;
    visibility: hidden;
}

.branco
{
    color: white;
}

.link-reserva1
{
    position: absolute;
    z-index: 3;
    margin-top: 38%;
    margin-left: 22%;
    color: white;
    border-radius: 20px;
    font-size:100%;
}

.link-back
{
    position: absolute;
    z-index: 2;
    margin-top: 35%;
    margin-left: 15%;
    width: 70%;
}

.container1
{
    display: flex;
    align-items: center;
}

.wave1
{
    position: absolute;
    width: 100%;
    z-index:1;
}

.section
{       
    margin-top: 100%;
}

@media screen and ( max-width: 700px) 
{
    a
    {
        font-size: larger;
    }

    a:hover
    {
        color: var(--darkBlue);  
    }
    
    .nav
    {
        position: absolute;
        visibility: hidden;
    }
    
    .navIcon
    {
        position:initial;
    }

    .navBar
    {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: underline;
        visibility: visible;
        padding-bottom: 1em;
        border-radius: 0px 0px 10px 10px;
        box-shadow: 0px 2px 5px 0px var(--darkBlue-shadow);
    }

    .android
    {
        visibility: visible;
    }
    
    .headerContainer
    {
        gap: 32px;
    }

    .tittle
    {
        font-size: x-large;
    }   
    .link-reserva1
    {
        font-size: 125%;
    }
    .index1
    {
        position: absolute;
        z-index: 1;
        width: 100%;
    }

    .index2
    {
        position: absolute;
        z-index: 2;
        width: 90%;
        margin: 5%;
        top: 30px;
    }

    .titulos
    {
        position: absolute;
        z-index: 3;
        margin-top: 80%;
        margin-left: 2%;
    }

    .textos
    {
        z-index: 3;
        position: absolute;
        margin-top: 90%;
        margin-left: 5%;
        margin-right: 5%;
        text-align: justify;
    }

    .tit
    {
        
    }

    .containerIMGs
    {
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        gap: 10px;
    }

    .containerIMGs2
    {
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        gap: 150px;
    }
}

@media screen and ( max-width: 500px) 
{
    .link-reserva1
    {
        font-size: 125%;
    }
    .link-reserva1:hover
    {
        color: white;
    }
}