{% include "header.html" %}
    <section>
        <div class="container_big t">
            <div>
                <form class="container_contato" action="" method="POST">
                    
                    <div class="contato_div">
                        <label for=""><h2>Seu Nome completo</h2></label>
                        <input type="text" name="x1" placeholder="Ex: João Da Silva">
                    </div>

                    <div class="contato_div">
                        <label for=""><h2>Seu Email</h2></label>
                        <input type="text" name="y1" placeholder="Ex: joao.da.silva@gmail.com">
                    </div>
                        
                    <div class="contato_div">
                        <label for=""><h2>Telefone:</h2></label>
                        <input type="text" name="resultado1" placeholder="Telefone">
                    </div>

                    <div class="container_compress">
                        <div class="Div_50p">
                            <label for=""><h2>Data de entrada</h2></label>
                            <input type="date" name="x2" placeholder="Email">
                        </div>

                        <div class="Div_50p">
                            <label for=""><h2>Data de saida</h2></label>
                            <input type="date" name="y2" placeholder="Email">
                        </div>
                    </div>

                    <div class="container_compress">
                        <div class="Div_50p">
                            <label for=""><h2>Adultos</h2></label>
                            <select name="adultos">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>

                        <div class="Div_50p">
                            <label for=""><h2>Crianças</h2></label>
                            <select name="criancas">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                    </div>
                    <div class="contato_div">
                        <label for=""><h2>Mensagem</h2></label>
                        <input type="number" name="resultado2" placeholder="Escreva sua mensagem"> 
                    </div>

                    <input class="submit" type="submit" value="Enviar">
                </form>
            </div>    
            <img class="back_big" src="./img/blob1_contato.svg" alt="">
            <div class="border"></div>
        </div>

        <div></div>
    </section>
{% include "footer.html" %}
