    <footer>
        <div class="footer">
            <img  class="footer_img_P" src="./img/footer-img_P.svg" alt="">
            <img class="footer_img_G" src="./img/footer-img.svg" alt="">
        </div>
        <div class="footer">
            <div class="">
                <h2>aaaaa</h2>
                <a class="link_redes" href=""><img src="./img/instagram_logo.svg" alt=""></a>
                <a class="link_redes" href=""><img src="./img/whatsapp_logo.svg" alt=""></a>
                <a class="link_redes" href=""><img src="./img/fecebook_logo.svg" alt=""></a>
            </div>
            <div class="">
                <h2></h2>
            </div>
        </div>
    </footer>
</body>
</html>