<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./style/style.css">
        <script src="" async defer></script>
    </head>
    <body>
        <header >
            <div class="headerContainer">
                <div class="logoI">
                    <img class="logo" src="./img/logo.svg" alt="">
                    <h2 class="tittle">Pousada Silvestre</h2>
                </div>
                <div>
                    <img src="" alt="">
                </div>
                <nav class="navBar">
                    <a href="index.php">Home</a> 
                    <a href="sobre.php">Sobre a Pousada</a> 
                    <a href="contato.php">Contato</a> 
                    <a href="https://www.google.com/maps/dir//Pousada+Silvestre/@-29.9965923,-50.217198,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x951873e04794c071:0xc458dc5f1a192f8f!2m2!1d-50.1471578!2d-29.9966108">Rotas</a> 
                </nav>
            </div>
        </header>
        