{% include "header.html" %}
    <div class="section">
        <a class="link-resrva1" href="">Clique aqui e faça sua reserva:</a>
        <img class="wave1" src="./img/wave_reserva.svg" alt="">
    </div>
    <div>
        <div>
            <img class="" src="" alt="">
            <img class="" src="" alt="">
            <img class="" src="" alt="">
        </div>
        <h2></h2>
        <p></p>
    </div>
    <div>
        <div>
            <img class="" src="" alt="">
            <img class="" src="" alt="">
            <img class="" src="" alt="">
        </div>
        <h2></h2>
        <p></p>
    </div>
    <div>
        <div>
            <img class="" src="" alt="">
            <img class="" src="" alt="">
            <img class="" src="" alt="">
        </div>
        <h2></h2>
        <p></p>
    </div>
{% include "footer.html" %}