{% include "header.html" %}

    <section class="containerIMGs">
        <div> 
            <a class="link-reserva-Min android" href=""><button class="button"><h2>Clique aqui e faça já sua reserva:</h2></button></a>
            <img class="wave1 android" src="./img/wave_reserva.svg" alt="">  
        </div>
        <section class="containerIMGs2">
            <div class="section">
                <div>
                    <img class="index1 blob1 android" src="./img/blob1.svg" alt="">
                    <img class="index2 android" src="./img/quarto1.svg" alt="">
                </div>
                <div>
                    <h2 class="titulos android">Acomodações</h2>
                    <p class="textos android">As Acomodações são pica As Acomodações são pica As Acomodações são pica As Acomodações são pica As Acomodações são pica As Acomodações são pica As Acomodações são pica As Acomodações são pica</p>
                </div>
            </div>
            <div class="section">
                <div>
                    <img class="index1 android" src="./img/blob2.svg" alt="">
                    <img class="index2 android" src="./img/fachada2.svg" alt="">
                </div>
                <h2 class="titulos android">Área de convivência</h2>
                <p class="textos android">A área de convivência é top simplesmente A área de convivência é top simplesmente A área de convivência é top simplesmente A área de convivência é top simplesmente A área de convivência é top simplesmente</p>
            </div>
            <div class="section">
                <div>
                    <img class="index1 android" src="./img/blob3.svg" alt="">
                    <img class="index2 android" src="./img/cozinha.svg" alt="">
                </div>
                <h2 class="titulos android">Cozinha</h2>
                <p class="textos android">simplesmente a melhor cozinha e mais equipada de todas simplesmente a melhor cozinha e mais equipada de todas simplesmente a melhor cozinha e mais equipada de todas simplesmente a melhor cozinha e mais equipada de todas </p>
            </div>
        <section>
    <section>
{% include "footer.html" %}