{% include "header.html" %}
    <div> 
        <a class="link-reserva1 android" href="">Clique aqui e faça sua reserva:</a>
        <img class="link-back android" src="./img/link.svg" alt="">
        <img class="wave1 android" src="./img/wave_reserva.svg" alt="">  
    </div>
    <div class="section">
        <div>
            <img class="index1 blob1" src="./img/blob1.svg" alt="">
            <img class="index2" src="./img/quarto1.svg" alt="">
        </div>
        <h2 class="titulos">Acomodações</h2>
        <p class="textos">As Acomodações são pica As Acomodações são pica As Acomodações são pica As Acomodações são pica As Acomodações são pica As Acomodações são pica As Acomodações são pica As Acomodações são pica</p>
    </div>
    <div class="section">
        <div>
            <img class="index1" src="./img/" alt="">
            <img class="index2" src="./img/" alt="">
        </div>
        <h2 class="titulos"></h2>
        <p class="textos"></p>
    </div>
    <div class="section">
        <div>
            <img class="index1" src="./img/" alt="">
            <img class="" src="" alt="">
        </div>
        <h2 class="titulos"></h2>
        <p class="textos"></p>
    </div>
{% include "footer.html" %}