{% include "header.html" %}
    <div>
        <a href=""></a>
    </div>
    <div>
        <div>
            <img src="" alt="">
            <img src="" alt="">
        </div>
        <h2></h2>
        <p></p>
    </div>
    <div>
        <div>
            <img src="" alt="">
            <img src="" alt="">
        </div>
        <h2></h2>
        <p></p>
    </div>
    <div>
        <div>
            <img src="" alt="">
            <img src="" alt="">
        </div>
        <h2></h2>
        <p></p>
    </div>
{% include "footer.html" %}