{% include "header.html" %}
    <div> 
        <a class="link-reserva1" href="">Clique aqui e faça sua reserva:</a>
        <img class="link-back" src="./img/link.svg" alt="">
        <img class="wave1" src="./img/wave_reserva.svg" alt="">  
    </div>
    <div class="section">
        <div>
            <img class="index1 blob1" src="./img/blob1.svg" alt="">
            <img class="index2" src="./img/" alt="">
        </div>
        <h2></h2>
        <p></p>
    </div>
    <div class="section">
        <div>
            <img class="index1" src="./img/" alt="">
            <img class="index2" src="./img/" alt="">
        </div>
        <h2></h2>
        <p></p>
    </div>
    <div class="section">
        <div>
            <img class="index1" src="./img/" alt="">
            <img class="" src="" alt="">
        </div>
        <h2></h2>
        <p></p>
    </div>
{% include "footer.html" %}