{% include "header.html" %}
    <section>
        <div class="container_sobre">
            <div>
                <h1>Sobre a Pousada</h1>
                <p>&nbsp &nbsp A Pousada Silvestre é uma pousada urbana no coração de Tramandaí a poucos minutos do centro comercial
                da cidade, a 50 metros de um dos maiores mercados da região o que possibilita um dia a dia mais simples e prático.  
                <br>&nbsp &nbsp O acesso à praia é super tranquilo, em menos de 15 min você já esta na orla.  O centro e demais atrações da capital litorânea ficam ainda mais próximos.  
                <br>&nbsp &nbsp Na Pousada Silvestre, você encontra conforto e praticidade para usufruir de uma hospedagem tranquila e prazerosa. 
                Estamos em funcionamento desde de 2020 e temos mais de 30 anos de experiencia no ramo. 
                Esperamos vocês em Tramandaí.</p>
            </div>    
            <img class="back_sobre" src="./img/blob1_sobre.svg" alt="">
            <div class="border"></div>
        </div>
        <div class="container_fotos">
            <h1>Galeria</h1>
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img class="slide" src="./img/slide.svg" alt=""></div>
                    <div class="swiper-slide"><img class="slide" src="./img/slide2.svg" alt=""></div>
                    <div class="swiper-slide"><img class="slide" src="./img/slide3.svg" alt=""></div>
                    <div class="swiper-slide"><img class="slide" src="./img/slide4.svg" alt=""></div>
                    <div class="swiper-slide"><img class="slide" src="./img/cozinha.svg" alt=""></div>
                    <div class="swiper-slide"><img class="slide" src="./img/quarto1.svg" alt=""></div>
                    <div class="swiper-slide"><img class="slide" src="./img/fachada2.svg" alt=""></div>
                    <div class="swiper-slide"><img class="" src="./img/.svg" alt=""></div>
                    <div class="swiper-slide"><img class="" src="./img/.svg" alt=""></div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

        <!-- Initialize Swiper -->
        <script>
        var swiper = new Swiper(".mySwiper", {
            navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
            },
        });
        </script>
    </section>
{% include "footer.html" %}