<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <link rel="stylesheet" href="./style/style.css">
        <script src="/../script.js" async defer></script>
    </head>
    <body>
        <header>
            <div class="headerContainer">
                <h2>Pousada Silvestre Admin</h2>
                {# <form action="./src/user.php" method="POST">                    
                    <input id="search" name="search" type="text" placeholder="Type here" size="20">
                    <input id="submit" type="submit" value="Search">
                </form> #}
                <nav class="nav">
                    <div>
                        <a href="home.php">Home</a> 
                        <a href="reservas.php">Reservas</a> 
                        <a href="quartos.php">Quartos</a> 
                        <a href="novas_reservas.php">Novas Reservas <img src="./../img/plus.svg"></img></a> 
                    </div>   
                </nav>
            </div>
        </header>
        